<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head" >
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
</head>

<body>
<div class="container">
<div class="container-fluid">
    <div th:replace="fragments :: header" ></div>
    <div th:replace="fragments :: js" ></div>
    </br>
    <h1>Login</h1>
    </br>
    <div th:if="${param.error}" th:text="#{msg.login.loginerror}" class="login-error" id="loginError" >Unable to login. Check your username and password.</div>
    <div th:if="${param.logout}" class="logout-success" >You have successfully logged out.</div>
    <form method="POST" th:action="@{/login}">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="username" th:text="#{msg.login.username}">Username: </label>
                <input id="username" type="text" name="username" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="password" th:text="#{msg.login.password}">Password: </label>
                <input id="password" type="password" name="password" class="form-control"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input id="login" type="submit" th:value="#{msg.login.loginbtn}" value="Login" class="form-control btn btn-info" />
            </div>
            <a th:text="#{msg.login.register}" class="btn btn-info" th:href="@{/register}">
                Create Course
            </a>
        </div>
    </form>
    <div class="container">
        <p>Site for your course application</p>
        <p>List of <abbr title="World Health Organization">all the courses</abbr> that are up now.</p>
    </div>
</div>
</div>
</body>
</html>